{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
    <title>Games</title>
</head>
<body>  
    {% block content %}

    <table border="1">
        <table border="1">
            <thead>
                <tbody>

                    {% for col in colnames %}
                        <th colspan>{{ col[0] }}</th>
                    {% endfor %}
                </tbody>
            </thead>
        {% for game in games %}
        <tr>
        {%for stat in game%}
        {% if stat==game[1] %}
            <td><a href="/teams/{{ game[0]}}/{{game[1]}}/{{game[2]}}">{{game[1]}}</a></td>
        {%elif stat==game[2]%}
        <td><a href="/teams/{{ game[0]}}/{{game[1]}}/pbp">{{game[2]}}</a></td>
        {% else %}
            <td>{{ stat }}</td>
        {% endif %}
        {% endfor %}
        {% endfor %}
{% endblock %}

</html>