{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Games</title>
</head>
<body>  
{% block content %}
<table border="1">
    <thead>
        <tbody>
            {% for col in colnames %}
            <th colspan>{{ col[0] }}</th>
            {% endfor %}
            {% for boxscore in boxscores %}
            <tr>
            {%for stat in boxscore%}
                <td>{{ stat }}</td>
            {% endfor %}
            {% endfor %}
        </tbody>
    </thead>

{% endblock %}

</html>