{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Live Scores</title>
 
</head>

<body>
{% block content %}

    {% if live|length == 0 %}
        <h1>NO GAMES TODAY!</h1>
    {% else %}
        <h1>LIVE SCORES</h1>
        <table>
            <tr>
                <th>DATE</th>
                <th>STATUS</th>
                <th>HOME TEAM</th>
                <th>HOME SCORE</th>
                <th>AWAY TEAM</th>
                <th>AWAY SCORE</th>
            </tr>
            {% for key in live %}
            {% if (key['homeTeam']['score'] == 0) and (key['awayTeam']['score'] == 0) %}
                <tr>
                    <td>{{ key['gameEt'][:10] }}</td>
                    <td>Game starts @ {{ key['gameStatusText'] }}</td>
                    <td>{{ key['homeTeam']['teamName'] }}</td>
                    <td>Score Unavailable</td>
                    <td>{{ key['awayTeam']['teamName'] }}</td>
                    <td>Score Unavailable</td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ key['gameEt'][:10] }}</td>
                    <td>{{ key['gameStatusText'] }}</td>
                    <td>{{ key['homeTeam']['teamName'] }}</td>
                    <td>{{ key['homeTeam']['score'] }}</td>
                    <td>{{ key['awayTeam']['teamName'] }}</td>
                    <td>{{ key['awayTeam']['score'] }}</td>
                </tr>
            {% endif %}
            {% endfor %}
        </table>    
    {% endif %}

    <button class="sites"><a href="https://www.nba.com/">NBA WEBSITE</a></button>
    <button class="sites"><a href="{{ url_for('get_teams') }}">TEAMS</a></button>
    <button class="sites"><a href="{{ url_for('player') }}">PLAYERS</a></button>

{% endblock %}
</body>
</html>
