{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Players</title>
</head>
<script src="https://unpkg.com/htmx.org@1.9.4"></script>
<body>
        
{% block content %}
<input type="text" class="input" placeholder="Search" name="player" hx-get="/players" hx-trigger="keyup changed delay:500ms" hx-target="#results">
<tbody id="results">
<table border="1">
{% for player in players %}
<tr>
  <th>{{ player[0] }}</th>
  <th>{{ player[1] }}</th>
</tr>
{% endfor %}
{% endblock %}
</tbody>
</html>

    