{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Players</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>
<body>
        
{% block content %}
<form id="searchForm" hx-get="/players">
    <input type="text" class="input" placeholder="Find a player" name="player" hx-target="#results">
</form>
<h3>Searching for: {{ player }}</h3>
<table border="1" id="results">
<tbody>
{% if players %}
    {% for col in colnames %}
        <th colspan>{{ col[0] }}</th>
    {% endfor %}
    {% for player in players %}
    <tr>
        {% for info in player %}
        <td>{{ info }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
{% else %}
<h1>No players found.</h1> 
{% endif %}
</tbody>
</table>
{% endblock %}

</body>
</html>
