header {
    background-color: #570e0e;
    opacity: 0.8;
    color: #fff;
    padding: 20px 0;
    font-family: "Times New Roman", Times, serif;
}

nav {
    width: 100%; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size:17px;
    

}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: white underline ;
    text-decoration-thickness: 4px;
    color: white;
    text-shadow: 3px 3px 4px #673232;
    
}

h1 {
    text-align: center;
    padding-top: 20px !important;
    text-transform: uppercase;
}

h2{
    padding-top: 20px !important;
    text-transform: uppercase;
}

html, body {
    text-align: center;
    font-weight: normal;
    color: black !important;

}


th, td {
    border: 1px solid black;
    padding: 8px;
    width: 150px;

}


table th:first-child,
table td:first-child {
    width: 500px;
}

#searchForm input[type="text"] {
  width: 300px; 
}

.sites{
  background-color: #e0cfb1; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  color: black !important;
}